﻿@{
    ViewBag.title = "Configurations";
}

@{
    var result = "";
    Array userData = null;
    char[] delimiterChar = { ',' };

    var dataFile = Server.MapPath("~/App_Data/serverList.txt");

    if (File.Exists(dataFile))
    {
        userData = File.ReadAllLines(dataFile);
        if (userData == null)
        {
            // Empty file.
            result = "The file is empty.";
        }
    }
    else
    {
        // File does not exist.
        result = "The file does not exist.";
    }

    var result2 = "";
    if (IsPost)
    {
        var hostname = Request["addHostname"];
        
        var userData2 = hostname + Environment.NewLine;

        File.AppendAllText(@dataFile, userData2);
        result2 = "Server saved.";
    }
}

<div class="jumbotron">
    <h2 class="text-center">Server Inventory Management</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current Servers</h2>
        @result
        @if (result == "")
        {
            <ul>
                @foreach (string dataLine in userData)
                {
                        <ul>
                            @foreach (string dataItem in dataLine.Split(delimiterChar))
                            {
                                <li>@dataItem</li>
                            }
                        </ul>
                }
            </ul>
        }
    </div>

    <div class="col-md-4">
        <h2>Add a Server</h2>
        <div class="form-group">
            <form id="addHostname" method="post">
            <label for="addHostname">Server Name:</label>
            <input type="text" class="form-control" name="addHostname" id="addHostname" />
            <input type="submit" value="Add" class="btn btn-default" />
            @if (result2 != "")
            {
                <p>Result: @result2</p>
            }
            </form>
        </div>
    </div>

</div>