﻿@{
    ViewBag.Title = "BuilderTrend Server Managagement Panel";

}

@{
    var result = "";
    Array userData = null;
    char[] delimiterChar = { ',' };

    var dataFile = Server.MapPath("~/App_Data/serverList.txt");

    if (File.Exists(dataFile))
    {
        userData = File.ReadAllLines(dataFile);
        if (userData == null)
        {
            // Empty file.
            result = "The file is empty.";
        }
    }
    else
    {
        // File does not exist.
        result = "The file does not exist.";
    }
}

@{ 
    var ServerCpu = new EnvControlPanel.Controllers.ServerCpuController();
    var ServerRam = new EnvControlPanel.Controllers.ServerRamController();
    var ServerProcess = new EnvControlPanel.Controllers.ServerProcessController();

}

<div class="row">
    <div class="col-md-6 ">
        <h2><i class="glyphicon glyphicon-wrench"></i> Remote Commands</h2>
        <p>Run a custom remote command.</p>
        <button id="action-button" type="button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("RemoteCommand", "Home") + "'");">Build Remote Command &raquo;</button>
    </div>
    @*  *@
    <div class="col-md-6">
        <h2><i class="glyphicon glyphicon-cog"></i> Environment Configuration</h2>
        <p>Manage Server Inventory.</p>
        <p>
            <button id="action-button" type="button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Config", "Home") + "'");">Manage Servers &raquo;</button>
        </p>
    </div>
</div>

@result
@if (result == "")
{
    <div class="row">
        <ul>
            @foreach (string dataLine in userData)
            {

                foreach (string dataItem in dataLine.Split(delimiterChar))
                {

                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <h2>@dataItem</h2>
                        <p>
                        <i class="glyphicon glyphicon-flash"></i>  Server Cpu:  @ServerCpu.Get("localhost")%
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-hdd"></i>  Server Ram: @ServerRam.Get("localhost")KB
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-list-alt"></i>  Total Processes Running: @ServerProcess.Get("localhost")
                        </p>
                        <p></p>
                    </div>

                }

            }
        </ul>
    </div>
}