﻿@{
    ViewBag.title = "Run a Remote Command";
}
<div class="jumbotron">
    <h2 class="text-center">Run a Remote Command</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="hostname">Server Name:</label>
                <input type="text" class="form-control" id="hostname">
            </div>
            <div class="form-group">
                <label for="command">Command:</label>
                <textarea class="form-control" rows="5" id="command"></textarea>
            </div>
            <button type="submit" onclick="Execute()" class="btn btn-default">Execute</button>
            </div>
        <div class="col-md-4">
            <textarea class="form-control" rows="10" id="results"></textarea>
            </div>
        </div>
</div>
<script type="text/javascript"> 
    function Execute() {

        var Remote = {};
        Remote.hostname = $("#hostname").val();
        Remote.command = $("#command").val();

        $.ajax({
            url: '/api/RemoteCommand/',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Remote),
            success: function (data) {
                $("#results").val(data);
            },
            fail: function (jqXHR, textStatus) {
                $("#results").val(textStatus);
            }
        })
    }

</script>
